*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.homePage {
    width: 100vw;
    overflow-x: hidden;  /* Evita barras de desplazamiento horizontales */
}


.homePage .section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homePage .section.photo {
    background-size: cover;
    background-position: center;
    position: relative;
    color: rgb(226, 248, 255);
    padding: 237px 0; /* Aumenta el padding vertical para hacer la sección más alta */
    height: auto;
}



.homePage .section.photo .welcomeText {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px; /* Incrementé el padding horizontal */
    border-radius: 10px;
    width: 70%;
}

.homePage .section.black {
    background-color: black;
    color: rgb(241, 252, 255);
}

.homePage .section.darkGray {
    background-color: rgb(155, 220, 240);
    color: rgb(0, 0, 0);
}

/* Secciones comunes */
.sectionContent {
    width: 80%;
    margin: auto;
    padding: 0 20px; /* Agregué padding horizontal */
    text-align: left;
}

.features, .historyImages, .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.feature, .product, .historyImages img {
    background-color: rgba(24, 24, 24, 0.1);
    padding: 0px 0px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature:hover, .product:hover, .historyImages img:hover {
    transform: scale(1.05);
}

.productContent .product img, .historyImages img {
    max-width: 100%;
    border-radius: 10px;
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
    .homePage .section.photo .welcomeText {
        width: 90%;
        padding: 20px;
    }
}

/* Otros estilos específicos de las secciones continúan aquí ... */



/* Estilos para la sección de cómo hacer un pedido */

.orderingContent, .contactContent, .returnPolicyContent {
    text-align: center;
    padding: 20px 40px; /* Incrementé el padding horizontal para estas secciones */
}

.orderingContent .steps {
    text-align: left;
    margin-top: 20px;
}

.orderingContent .step {
    margin-bottom: 20px;
}


