/* Archivo: HomePage.css */
.homePage .section {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homePage .section.photo {
    background-size: cover;
    background-position: center;
    position: relative;
}

.homePage .section.photo .welcomeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 10px;
}

.homePage .section.black {
    background-color: black;
    color: white;
}

.homePage .section.darkGray {
    background-color: rgb(43, 42, 42);
    color: black;
}

.aboutContent {
    width: 80%;
    margin: auto;
    text-align: left;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.historyContent {
    width: 80%;
    margin: auto;
    text-align: left;
}
.historyImages {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.historyImages img {
    width: 30%;
    border-radius: 10px;
}
.productContent .products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.productContent .product {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productContent .product img {
    max-width: 100%;
    border-radius: 10px;
}


/* Estilos para la sección de cómo hacer un pedido */
.orderingContent {
    text-align: center;
    padding: 20px;
}

.orderingContent .steps {
    text-align: left;
    margin-top: 20px;
}

.orderingContent .step {
    margin-bottom: 20px;
}

/* Estilos para la sección de contacto */
.contactContent {
    text-align: center;
    padding: 20px;
}

/* Estilos para la sección de política de devolución */
.returnPolicyContent {
    text-align: center;
    padding: 20px;
}


