*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.homePage {
    width: 100vw;
    overflow-x: hidden;  /* Evita barras de desplazamiento horizontales */
}


.homePage .section {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homePage .section.photo {
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 100px 0;
    height: auto;
}

.homePage .section.photo .welcomeText {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.homePage .section.black {
    background-color: black;
    color: white;
}

.homePage .section.darkGray {
    background-color: rgb(43, 42, 42);
    color: white;
}

/* Secciones comunes */
.sectionContent {
    width: 80%;
    margin: auto;
    text-align: left;
}

.features, .historyImages, .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.feature, .product, .historyImages img {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature:hover, .product:hover, .historyImages img:hover {
    transform: scale(1.05);
}

.productContent .product img, .historyImages img {
    max-width: 100%;
    border-radius: 10px;
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
    .homePage .section.photo .welcomeText {
        width: 90%;
        padding: 20px;
    }
}

/* Otros estilos específicos de las secciones continúan aquí ... */



/* Estilos para la sección de cómo hacer un pedido */
.orderingContent {
    text-align: center;
    padding: 20px;
}

.orderingContent .steps {
    text-align: left;
    margin-top: 20px;
}

.orderingContent .step {
    margin-bottom: 20px;
}

/* Estilos para la sección de contacto */
.contactContent {
    text-align: center;
    padding: 20px;
}

/* Estilos para la sección de política de devolución */
.returnPolicyContent {
    text-align: center;
    padding: 20px;
}


