nav {
    display: flex;
    align-items: center;
    background: #222;
    padding: 10px 40px;
    height: 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 2;
}
/* Mobile styles */
.sidebar-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    /* Oculta la lista de navegación en móviles y muestra el ícono del sidebar */
    #navbar {
        display: none;
    }

    .sidebar-icon {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    /* Oculta la lista de navegación en tablet y muestra el ícono del sidebar cuando la pantalla es menor a la mitad */
    #navbar {
        display: none;
    }

    .sidebar-icon {
        display: block;
    }
}

.logo {
    margin-right: auto; /* Esto empujará el logo al centro y las opciones a la derecha */
    height: 80px; /* Ajusta como prefieras */
    width: 80px;
    background-image: url('../assets/circular.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.3s;
}

.logo:hover {
    opacity: 0.8;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

li {
    margin-left: 30px;
    position: relative;
}
li a {
    text-decoration: none;
    color: #f1f1f1;
    padding-bottom: 5px;
    font-family: 'Compacta', sans-serif;
    transition: color 0.3s;
    position: relative;
    font-weight: bold; /* Hice que el texto sea más grueso */
}

li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #17cf97; /* Cambié el color a verde cuando se activa */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

li a:hover {
    color: #17cf97;
}

li a:hover::before {
    visibility: visible;
    width: 100%;
}
.profile-icon {
    margin-right: 10px;
    color: #f1f1f1;  /* Color del ícono */
}
.user-area {
    margin-left: 20px; /* Separación del área de usuario y la navbar */
    display: flex; /* Alinear el icono y el nombre horizontalmente */
    align-items: center; /* Alinear el icono y el nombre verticalmente */
    color: #f1f1f1;  /* Color del texto del nombre de usuario */
    cursor: pointer;
}
.user-area:hover {
    color: #17cf97; /* Cambia el color al pasar el ratón por encima */
}

