/* Navbar.css */

nav {
    display: flex;
    align-items: center;
    background: #222;
    padding: 10px 40px;
    height: 90px; /* Aumentar la altura del Navbar */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 2;
}

.logo {
    position: absolute;
    left: -10px;
    bottom: -105px; /* Mueve el logo hacia abajo para que esté a mitad de camino */
    height: 250px;
    width: 250px;
    background-image: url('../assets/circular.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.logo:hover {
    opacity: 0.8;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
}

li {
    margin-left: 30px;
    position: relative;
}

li a {
    text-decoration: none;
    color: #f1f1f1;
    padding-bottom: 5px;
    font-family: 'Compacta', sans-serif; /* Fuente similar a Marlboro */
    transition: color 0.3s;
    position: relative;
}

li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

li a:hover {
    color: #17cf97;
}

li a:hover::before {
    visibility: visible;
    width: 100%;
}
