/* Products.css */

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    background-color: #f4f4f4;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    max-height: 200px; /* Ajusta la altura máxima de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}
